@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Playfair+Display:wght@700&display=swap');

.home-container {
  background-size:  contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white; 
}


.home-container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  color: #ff6f61;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 1s both;
}

.start-button {
  font-family: 'Comic Neue', cursive;
  font-size: 1.5em;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #ff816e, #ff6f61);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.start-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
